In [1]:
from linkedin_scraper_2 import Company
from selenium import webdriver
import time
import os
import sqlite3
import pandas as pd
import re
import csv

In [2]:
# Check if database exists, and if it doesn't set it up:
conn = sqlite3.connect("linkedIn_Companies.db")
cur = conn.cursor()
cur.execute("PRAGMA foreign_keys = ON")

cur.execute('''CREATE TABLE IF NOT EXISTS company_info(
                company_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                company_name TEXT NOT NULL)''')

cur.execute(''' CREATE TABLE IF NOT EXISTS employee_info(
                employee_id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
                company_id INTEGER NOT NULL,
                name TEXT NOT NULL,
                profile_picture TEXT,
                location TEXT,
                role TEXT,
                FOREIGN KEY(company_id) REFERENCES company_info(company_id) ON DELETE CASCADE
                )
                ''')

In [3]:
# Ask user for linkedin_url
# use this link: https://www.linkedin.com/company/Util-
# DON'T FORGET TO HIT ENTER


print("Please enter the LinkedIn URL of the company you wish to search for:\n")
companyURL = input()

Please enter the LinkedIn URL of the company you wish to search for:

https://www.linkedin.com/company/Util-

In [4]:
driver = webdriver.Chrome()
company = Company(companyURL, driver = driver, scrape=False, get_employees = True)
# LOGIN ON NEW SCREEN BEFORE MOVING FORWARD #

In [7]:
#Search (press play)
company = Company(companyURL, driver = driver, scrape=True, get_employees = True)

Checking database for company name...
Company_name already exists!... this is it:
Util
Company ID: 1
   employee_id  company_id                  name  \
0            1           1  Abdel Wahab Turkmani

                                     profile_picture                location  \
0  https://media.licdn.com/dms/image/C4E03AQEK30P...  Oxford, United Kingdom

                          role
0  Current: Co-founder at Util

In [6]:
# Temporary fix for formatting issue with returning pd.read_sql_query...
# enter company_id based on information above, then you will see a formatted table of the information
company_id = 1;
pd.read_sql_query("SELECT * FROM employee_info WHERE company_id={0}".format(company_id), conn)

,employee_id,company_id,name,profile_picture,location,role
0,1,1,Abdel Wahab Turkmani,https://media.licdn.com/dms/image/C4E03AQEK30P...,"Oxford, United Kingdom",Current: Co-founder at Util

In [9]:
# if you want to search another company, you can update the companyURL by re-entering a new url in the input box
# then skip the cell that initiates a new driver, and press play in the cell titled "search" -- 
# Then you won't have to login again.